{% extends 'base.html.twig' %}

{% block bodyheader %}
    <h1>
        Bienvenue
        <small> sur RgZ </small>
    </h1>

{% endblock %}
{% block body %}
    {% if secret is defined %}
        {{ secret }}
    {% endif %}
{% endblock %}


