{% extends 'base.html.twig' %}

{% block bodyheader %}
    <h1>
        Passwords list
    </h1>

{% endblock %}
{% block body %}
    <div class="modal modal-info fade in" id="modal-info" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Password</h4>
                </div>
                <div class="modal-body" id="my_modal_body">
                    <br>
                    <p>One fine body…</p>
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline" data-dismiss="modal" onclick="copydata()">Copy</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
<script>

    function copydata(){

        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($('#my_modal_body').html()).select();
        document.execCommand("copy");
        $temp.remove();


    }

    function loadmodaldata(a){

        $.ajax({

            // Adresse à laquelle la requête est envoyée
            url: '/testajax?a=' + a,

            // Le délai maximun en millisecondes de traitement de la demande
            timeout: 4000,

            // La fonction à apeller si la requête aboutie
            success: function (data) {
                // Je charge les données dans box
                $('#my_modal_body').html(data);
            },

            // La fonction à appeler si la requête n'a pas abouti
            error: function() {
                // J'affiche un message d'erreur
                alert('oops');
            }

        });
    }

    $(document).ready(function() {
        $('#example').DataTable( {
            "processing": true,
            "serverSide": true,
            "responsive": true,
            "scrollX": true,
            "search": {
                "search": "{% if q is defined %}{{ q }}{% endif %}"
            },

            "lengthMenu": [[25, 50,100 , -1], [25, 50, 100, "All"]],

            "ajax": "/passworddata",

            "columns": [
                { "data": "label" },
                { "data": "login" },
                {
                    "data": "password",
                    "className":      'loupe',
                    "orderable":      false
                },
                { "data": "url" },
                { "data": "description" },
                { "data": "DateInsert" },
                {
                    "className":      'loupe',
                    "orderable":      false,
                    "data":           'id',
                    "defaultContent": ''
                }
            ],

            columnDefs: [{
                targets: 6,
                "width": '50px',
                render: function(data, type, full, meta){
                    //data = '<button type="submit" class="btn btn-info pull-right" onclick="alert(\'' + data + '\')">Edit</button>';
                    data = '<a href="passwordedit/' + data + '" class="btn btn-primary "><b>Edit</b></a>';


                    return data;
                }
            },
                {
                    targets: 3,
                    render: function(data, type, full, meta){
                        //data = '<button type="submit" class="btn btn-info pull-right" onclick="alert(\'' + data + '\')">Edit</button>';
                        if(data != null)
                            data = '<a href="' + data + '" target="_blank" class="">' + data + '</a>';


                        return data;
                    }
                },

                {
                    targets: 2,
                    "width": '50px',
                    render: function(data, type, full, meta){
                        //data = '<button type="submit" class="btn btn-info pull-right" onclick="alert(\'' + data + '\')">Edit</button>';
                        data = '<button type="button" class="btn btn-info fa fa-copy" data-toggle="modal" data-target="#modal-info" onclick="loadmodaldata(' + data +')"></button>';


                        return data;
                    }
                },
                {
                    targets: 2,


                },{
                    targets: 0,


                }
            ]

        } );
    } );
</script>

<div class="row">
    <div class="col-xs-10  col-md-offset-1">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Passwords list</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">

                <div class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row">
                        <div class="col-sm-12">

                    <table id="example" class="table table-bordered table-hover dataTable" role="grid" >

                        <thead>
                        <tr role="row">
                            <th>Label</th>
                            <th>Login</th>
                            <th>Password</th>
                            <th>Url</th>
                            <th>Description</th>
                            <th>Date Insert</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tfoot>

                        </tfoot>
                    </table>
                        </div>

                </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}


